.modal .row
{
  margin-right: 0!important;
  margin-left: 0!important;
}
.detalle_descripcion
{
  width: 100%;
  height: auto;
  border:1px solid #d9d9d9;
}
/*modal*/
.blue 
{
  fill: #1c7dcc;
}

.align 
{
  text-align: center;
}

 .lista-container 
 {
  margin-top: 14%;
  margin-left: 4rem;
}

.tipos
{
  padding: 1rem;
  border: 1px solid #1c7dcc;
  height: 14rem;
}

.compromisos
{
  background-color: mediumseagreen;
  color: white;
  padding: 5px;
}
.form-geo .select2-container--default .select2-selection--single {
  height: 25px;
}

.no-padding {
  padding: 0 !important;
}

.margin_select {
  margin-bottom: 4%;
}

.azul {
  color: #0067b9;
}

.no-margin {
  margin: 0 !important;
}

.derecha {
  box-sizing: border-box;
  padding-right: 5%;
}

.absolute-top {
  position: fixed;
  top: 0;
  z-index: 100;
}

.absolute-bottom {
  bottom: 0rem;
  position: fixed;
}

.top {
  margin-top: 4%;
}

.container-titulo {
  margin-left: 23%;
  text-align: center;
  width: 67%;
}

.container-titulo h1 {
  font-size: 36px;
}

.container-titulo h3 {
  font-size: 24px;
}

.container-fluid {
  padding: 0 !important;
}

form {
  margin-bottom: 2%;
  margin-top: 5%;
}

.experiencia {
  font-size: 2.5rem;
}



.resultados-height {
  border: 1px solid #ddd;
  height: 21rem;
  overflow: auto;
}

.mapa {
  height: 47rem;
  margin-left: 31%;
  margin-top: 0%;
  width: 48%;
}

.logo {
  height: 5rem;
}
.logo_minsa{
	width: 64%;
	height: 5rem;
}
.form-group label {
  color: #0067b9;
}
  .geo .select2-container{
    width: 100%!important;
  }
@media (max-width: 980px) {
  .container-titulo {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }

  .mapa {
    height: auto;
    margin-left: 7%;
    width: 76%;
  }

  .desaparece {
    display: none;
  }

  .derecha {
    margin-top: 12%;
    padding-left: 9%;
  }

  .select2 .select2-container .select2-container--default .select2-container--below {
    width: 100% !important;
  }

  .peru {
    margin-left: 28%;
  }
  .vacuna{
    margin-bottom: 8rem;
    margin-top: 2rem;
  }
}

@media (max-width: 425px) {
  .container-titulo h1 {
    font-size: 15px;
  }

  .container-titulo h3 {
    font-size: 20px;
  }
  .geo .select2-container{
    width: 100%!important;
  }
  .vacuna{
    margin-bottom: 8rem;
    margin-top: 2rem;
  }
}

@media (max-width: 1440px)and (min-width: 768px) {

  .info {
    font-size: 1.7rem;
    margin-left: 4%;
    margin-top: -15%;
    text-align: center;
    width: 40%;
  }

  form {
    margin-bottom: 2%;
    margin-top: 0%;
  }

  .experiencia {
    font-size: 1.5rem;
  }
  .geo .select2-container{
    width: 100%!important;
  }
}
